/* Mobile Index */

body{
    background-color: #EEF9FC;
}

.logo{
    width: 50%;
}

.container-fluid{
    background-color: #EEF9FC;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #18728B;
}

.navbar-light .navbar-nav .nav-link {
    color: #18728B;
    
}

.dropdown-item{
    color: #18728B;
}

.dropdown-menu{
    background-color: #EEF9FC;
}
.imgHome{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-outline-success{
    background-color: #18728B;
    color: #EEF9FC;
    border-color: #18728B;
}

.btn-outline-success:hover{
    background-color: #EEF9FC;
    color: #18728B;
    border-color: #EEF9FC;
}

.card-body{
    font-family:"Nunito";
    text-align: center;
    color: #18728B;
    background-clip: border-box;
    border-radius: 0.25rem;
    position: relative;
    background-color: #7EDDD2;
    margin-top: 18%;
}

.bx{
    color: #18728B;
}

.carouselText{
    font-size: medium;
    color: #7EDDD2;
    margin: 0px;
    padding: 0px;
}

/* Your clothes */
h1{
    color: #219EBC; 
    display: flex;
    justify-content: center;
    margin: 40px;
}

h2{
    color: #40BEDD;
    white-space: pre-line;
}

p{
    color: #40BEDD;
    white-space: pre-line; 
}

img{
    width: 50%;
}

@media screen and (min-width:372px){
    img{
        width: 80%;
    }
}

/* Desktop */

@media screen and (min-width:768px) {
    .carouselText{
        font-size: large;
    }

    .card-body {
        margin-top: 0%;
    }

    /* your clothes */

    p{
        font-size: x-large;  
    }
}



