/* Mobile Index */

body{
    background-color: #EEF9FC;
}

.container-fluid{
    background-color: #EEF9FC;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #18728B;
}

.navbar-light .navbar-nav .nav-link {
    color: #18728B;
    
}

.dropdown-item{
    color: #18728B;
}

.dropdown-menu{
    background-color: #EEF9FC;
}
.imgHome{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    font-family:"Nunito";
    text-align: center;
    color: #18728B;
    background-clip: border-box;
    border-radius: 0.25rem;
    position: relative;
    background-color: #d1eff7;
    margin-top: 18%;
}

.bx{
    color: #18728B;
}

.carouselText{
    font-size: xx-small;
    color: #00CCF5;
    margin: 0px;
    padding: 0px;
}

/* Desktop */

@media screen and (min-width:768px) {
    .carouselText{
        font-size: large;
    }

    .card-body {
        margin-top: 0%;
    }
}